<!DOCTYPE html>
<html>
<head>
<title>CTD List</title></head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>

<h1>Cheapest To Deliver US Treasuries Into {{mat}}</h1>
	<table id="CTD_list" border=1>
		<thead><tr>
			<th>CUSIP</th>
			<th><a href="javascript: void(0);" onclick="sortTable(1);">Coupon</a></th>
			<th><a href="javascript: void(0);" onclick="sortTable(2);">Maturity</a></th>
			<th>Years to Maturity</th>
		</tr></thead>
		<tbody>
		{% for tsy in listData %}
			<tr><td align='center'>{{tsy.cusip}}</td><td>{{tsy.intRate}}</td><td>{{tsy.matDate}}</td><td align='center'>{{tsy.TTM}}</td></tr>
		{% endfor %}
	</tbody></table>
	<br/>
	<form method="GET" action="/">
		<input type="submit" value="Back" />
	</form>
  <script src="{{ url_for('static', filename='sortTable.js') }}"></script>
</body>
</html>
