<!doctype html>
<html>
<head>
	<title>Home</title>
	<script>
		// Will this function do the right thing during the month of July?
		function getFutConExp() {
			// once futures contract is chosen, update contract expiration select
			let expBox = document.getElementById("expiration");  // ending semicolons are unnecessary if you stick with one statement per line
			// What can you do to eliminate this unnecessary repetition?
			const arrFrontContract = ["Mar", "Mar", "Mar", "Jun", "Jun", "Jun",
				"Sep", "Sep", "Sep", "Dec", "Dec", "Dec"];
			for (var i = 0; i <= 2; i++) {
				var myDate = new Date();
				var addMonths = (myDate.getMonth() + (3 * i)) % 12;
				console.log("addMonths=" + addMonths);
				if (myDate.getMonth() + (3 * i) >= 12) {
					myDate.setYear(myDate.getFullYear() + 1);
				}
				myDate.setMonth(addMonths);
				// Consider using a template literal here
				var newConExp = [arrFrontContract[myDate.getMonth()],
					myDate.getFullYear()].join(" ");
				var newOpt = document.createElement("option");
				newOpt.text = newConExp;
				expBox.add(newOpt);
			}
		}
	</script>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
<body onload="getFutConExp()">
<h1>CME US Treasury Futures</h1>
<h2>Pick a contract and expiration</h2>
<div>
<form method="POST">
	<select name="futCon">
		<option value="TU">TU - 2 Year</option>
		<option value="FV">FV - 5 Year</option>
		<option value="TY">TY - 10 Year</option>
		<option value="TN">TN - Ultra 10 Year</option>
		<option value="US">US - Bond</option>
		<option value="UB">UB - Ultra Bond</option>
	</select>
	<select name="expiration" id="expiration">
	</select>
	<input type="submit" value="Submit">
</form>
<br><br><br><hr class="leftJust">
</div>
<div><h2>About CME US Treasury Futures</h2>
<p class="leftJust">
CME US Treasury futures contracts each have a "basket" of US Treasury securities that
are eligible to be delivered into the futures contract during the delivery/expiration month.
The basket depends on the futures contract's specifications, which include limitations on
initial term to maturity and remaining time to maturity.
</p><br><br><br>
</div>
<div class="footer">
    <hr class="center96Pct">
    <hr class="center96Pct">
    <p>Designed by <b>Danny Wagstaff</b> in 2018
    </p>
</div>

<!-- Can we make this page well-formed? -->
